.page-home{
  display: flex;
  justify-content: space-between;
}

.header{
  background-color: red;
}
.left{
  background-color: blueviolet;
}
.right{
  background-color: aqua;
}
.content{
  background-color: azure;
}
.footer{
  background-color: bisque;
}